body {
  font-family: "Poppins", sans-serif;
}

.App h1 {
  font-size: 80px;
  margin: 20px;
  text-transform: uppercase;
  text-align: end;
}

.App h2 {
  text-transform: uppercase;
}

.App img {
  border-radius: 4px;
  width: 400px;
}

.App footer {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  color: rgb(153, 187, 173);
}

.App .hero {
  background-color: rgb(153, 187, 173, 0.5);
  padding: 50px 0 70px 0;
  margin: 0 0 50px 0;
  text-align: center;
}

@media (max-width: 992px) {
  .App h1 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .App h1 {
    font-size: 24px;
    margin: 0 auto;
  }
}
